HANGAR_DATA_DIR="./.data"
HANGAR_DB_HOST="./.data/hangar.db"
HANGAR_CONFIG_FILE="./config/hangar.yml"

DOMAIN="example.com"

# Arcane
ARCANE_API_KEY="change-me"

# Frigate
FRIGATE_API_URL="http://frigate:5000"

# Better Auth
BETTER_AUTH_URL="http://localhost:3010"
BETTER_AUTH_SECRET="change-me-generate-with-openssl-rand-base64-32"