{
  "bracketSpacing": true,
  "bracketSameLine": false,
  "objectWrap": "preserve",
  "printWidth": 120,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf"
}
